<ion-header>
  <ion-toolbar>
    <ion-title>
      SFTP
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-label>
      User Name:
      <ion-input type="text" formControlName="userName" required></ion-input>
    </ion-label>

    <ion-label>
      Password:
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-label>

    <div formGroupName="server">
      <h3>Server Sftp</h3>

      <ion-label>
        ip:
        <ion-input type="text" formControlName="ip"></ion-input>
      </ion-label>

      <ion-label>
        port:
        <ion-input type="text" formControlName="port"></ion-input>
      </ion-label>

    </div>

    <ion-button type="submit">Submit</ion-button>
  </form>

  <hr>

  <div>
    Form Value: {{ loginForm.value | json }}
  </div>
  <ion-item>
    <ion-label position="stacked">Summary</ion-label>
    <ion-textarea placeholder="Tap here" 
    [(ngModel)]="successCallback" name="note" ></ion-textarea>
  </ion-item>
  <div>
    successCallback Value: {{ successCallback }}
  </div>
  <div>
    errorCallback Value: {{ errorCallback }}
  </div>

</ion-content>